.container {
  display: flex;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  padding: 50px 20px;
  gap: 40px;
  text-align: center;
}
.services {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: 20px;
}
.box {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  background: #050c18;
  padding: 20px;
  border-radius: 4px;
  font-size: 14px;
  text-align: justify;
  cursor: pointer;
}
.box:hover {
  background: #0a1932;
}

.box img {
  height: 150px;
  object-fit: contain;
}
@media only screen and (max-width: 1366px) {
  .container {
    font-size: 12px;
  }
  .box {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    background: #050c18;
    padding: 20px;
    border-radius: 4px;
    font-size: 12px;
    text-align: justify;
    cursor: pointer;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    height: 250vh;
    font-size: 12px;
  }

  .box {
    width: 90%;
  }
  .services {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
} ;
