.container {
  display: flex;
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  gap: 40px;
  text-align: center;
}
.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}
.box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: 450px;
  background: #050c18;
  padding: 20px;
  border-radius: 4px;
  font-size: 14px;
  text-align: justify;
  cursor: pointer;
}
.social_media {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 20px;
}
.box:hover {
  background: #0a1932;
}

.box img {
  height: 150px;
  object-fit: cover;
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    height: 380vh;
    font-size: 12px;
  }

  .box {
    width: 90%;
  }
  .services {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
} ;
