.container {
  display: flex;
  height: 30vh;
  position: relative;
  padding: 20px;
}
.wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  max-width: 90%;
  justify-content: space-around;
  padding: 20px;
}
.boxe {
  width: 250px;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px;
  border-radius: 8px;
}
@media only screen and (max-width: 1366px) {
  .container {
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    height: 80vh;
    position: relative;
    padding: 20px;
  }
  .wrapper {
    flex-direction: column;
    font-size: 12px;
    padding: 10px;
    gap: 20px;
  }
  .boxe {
    width: 100%;
  }
} ;
