.container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
      to right top,
      #000307,
      #010913,
      rgb(3, 14, 28, 0.9),
      rgb(5, 18, 36, 0.4),
      rgb(7, 35, 78, 0.2)
    ),
    url('../../assets/back2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* /* position: relative; */
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  justify-content: center;
  gap: 20px;
}
.subscribe_container {
  display: flex;
  align-items: center;
  width: 40%;
}
.subscribe_container button {
  background: var(--primary);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.4s;
}
.subscribe_container button:hover {
  background: green;
}
.email_subscribe {
  width: 75%;
  padding: 20px;
  background: var(--background-input);
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  outline: none;
}
.social_network_media {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
    to bottom,
    rgb(20, 23, 25, 0.4),
    rgb(20, 23, 25, 0.8),
    #0c0f11,
    #0c0f11,
    #010305
  );
  width: 100%;
  padding: 20px;
  justify-content: flex-end;
  gap: 10px;
}
.medias_icons {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(
        to top,
        #000307,
        #010913,
        rgb(3, 14, 28, 0.9),
        rgb(5, 18, 36, 0.8),
        rgb(7, 35, 78, 0.8)
      ),
      url('../../assets/back2.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
    position: relative;
  }
  .wrapper {
    text-align: center;
    align-items: center;
  }
  .wrapper h1 {
    font-size: 20px;
  }
  .wrapper span {
    font-size: 12px;
  }
  .subscribe_container {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .subscribe_container input,
  button {
    width: 100%;
    border-radius: 4px;
  }

  .subscribe_container button:hover {
    background: green;
  }
  .email_subscribe {
    width: 75%;
    padding: 20px;
    background: var(--background-input);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    outline: none;
  }
  .social_network_media {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(
      to bottom,
      rgb(20, 23, 25, 0.4),
      rgb(20, 23, 25, 0.8),
      #0c0f11,
      #0c0f11,
      #010305
    );
    width: 100%;
    padding: 20px;
    justify-content: flex-end;
    gap: 10px;
  }
  .medias_icons {
    cursor: pointer;
  }
}
