.container {
  display: flex;
  height: 80vh;
  background-image: linear-gradient(
    to bottom,
    #11121f,
    #12131f,
    #12131f,
    #13141e,
    #13141e,
    #13131c,
    #131119,
    #131017,
    #110c12,
    #0d080c,
    #070405,
    #000000
  );
}

.wrapper {
  display: flex;
  margin: 0 auto;
  width: 90%;
  align-items: center;
  /* background: red; */
}
.image_about {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_about img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about_container {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: justify;
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  .container {
    height: 90vh;
    font-size: 12px;
    background-image: linear-gradient(
      to bottom,
      #040436,
      #050733,
      #060930,
      #070b2d,
      #090d2a,
      #0a0d26,
      #0a0c23,
      #0a0c1f,
      #08091a,
      #050715,
      #02040f,
      #000107
    );
  }
  .wrapper {
    flex-direction: column;
  }
  .image_about {
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .image_about img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .about_container {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
