.container {
  display: flex;
  height: 50vh;
}
.wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  padding: 0 20px;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  height: 100%;
}
.top_inputs_container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.top_inputs_container input {
  width: 100%;
}
.top_inputs_container div {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.inputs_container textarea {
  height: 150px;
}
.inputs_container textarea,
input {
  color: black;
  padding: 10px;
}
.inputs_container button {
  padding: 20px;
  background: var(--primary);
  width: 40%;
  border-radius: 4px;
  cursor: pointer;
}
.location_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 30%;
  gap: 20px;
  height: 100%;
}
.location_container p {
  color: var(--secondary);
}
@media only screen and (max-width: 768px) {
  .container {
    height: 80vh;
  }
  .wrapper {
    flex-direction: column;
    width: 99%;
  }
  .inputs_container button {
    width: 100%;
  }
  .inputs_container {
    width: 100%;
  }
  .location_container {
    width: 100%;
  }
} ;
