.container {
  display: flex;
  height: 70vh;
}
.wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  width: 90%;
}
.ornamentation {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  text-align: justify;
}
.ornamentation .pulse_btn {
  background-image: linear-gradient(to right, #ff0000, #0000ff);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 20px;
  animation: pulse 2s ease-in-out infinite;
  animation-duration: 2s;
  background-size: 200% auto;
  animation-delay: 0.5s;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
.image_ornamentation {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}
.image_ornamentation img {
  height: 200px;
}
@media only screen and (max-width: 768px) {
  .container {
    font-size: 12px;
    height: 80vh;
  }
  .wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .ornamentation {
    width: 100%;
    text-align: center;
  }
  .image_ornamentation img {
    height: 100px;
  }
  .image_ornamentation {
    height: 200px;
  }
} ;
