@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  color: white;
  text-decoration: none;
  border: none;
  list-style: none;
  outline: none;
}

body {
  background: var(--backgound);
}

:root {
  --primary: #5437dc;
  --secondary: #87898f;
  --backgound: #000;
  --line: #29292e;
  --background-input: #181818;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 15px;
}
::-webkit-scrollbar {
  width: 4px;
}
