.container {
  display: flex;
  height: 120vh;
  background-image: linear-gradient(
    to right bottom,
    #0f0209,
    #10040e,
    #100612,
    #0f0816,
    #0d0b19,
    #0d0e1b,
    #0c101e,
    #0b1220,
    #0d1422,
    #0e1525,
    #0f1727,
    #10182a
  );
}

.wrapper {
  display: flex;
  margin: 0 auto;
  width: 90%;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  gap: 100px;
}
.features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  gap: 30px;
}

.how_slogan {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center;
  gap: 20px;
}
.how_slogan p {
  color: var(--secondary);
}

.tags_left,
.tags_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tags {
  display: flex;
  align-items: center;
  /* background: red; */
  border-bottom: 1px solid var(--line);
  width: 500px;
  padding: 10px;
}
.tags p {
  color: var(--secondary);
}
.tags img {
  height: 100px;
  /* width: 100px; */
}
.tags_info {
  display: flex;
  flex-direction: column;
}
.image_middle {
  height: 600px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.image_middle button {
  background: var(--primary);
  padding: 15px;
  width: 90%;
  border-radius: 8px;
  cursor: pointer;
  transition: width 0.4s ease;
}
.image_middle button:hover {
  width: 100%;
}
.image_middle img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1280px) {
  .container {
    /* height: 90vh; */
  }
  .wrapper {
    width: 95%;
    font-size: 14px;
    padding: 15px;
  }
  .how_slogan {
    margin-top: 20px;
  }
  .features {
    gap: 20px;
  }
  .tags {
    width: 380px;
    padding: 10px;
  }

  .tags img {
    height: 80px;
  }
  .tags_info {
    display: flex;
    flex-direction: column;
  }
  .image_middle {
    height: 500px;
    width: 250px;
  }
  .image_middle img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      #0b0d18,
      #0b0e1a,
      #0c0e1d,
      #0c0f1f,
      #0c0f22,
      #0b0e25,
      #0a0e27,
      #090d2a,
      #070b2d,
      #060930,
      #050733,
      #040436
    );
  }

  .image_middle button {
    padding: 10px;
  }
  .wrapper {
    font-size: 12px;
  }

  .features {
    flex-direction: column;
  }

  .tags {
    flex-direction: column;
    width: 100%;
    padding: 5px;
    text-align: center;
  }

  .tags_info {
    display: flex;
    flex-direction: column;
  }
  .image_middle {
    height: 600px;
    width: 250px;
  }
  .image_middle img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
